.header {
  height: 60vh; /*should be 95% of viewport height */
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark), url("/header.jpg");
  background-size: cover;
  background-position: right;
  position: relative; /*reference used by .logo-box absolute value */

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
    height: 60vh;
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("/header.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
  }

  h1 {
    line-height: 100%;
  }

  li {
    font-size: 1.3rem;
    display: inline-block;
  }

  &__logo-box {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .notification-badge {
    position: relative;
    right: -40px;
    color: $color-white;
    background-color: $color-red;
    margin: 0 -0.8em;
    border-radius: 50%;
    padding: 5px 7px;
    text-align: center;
  }

  .heading-icon {
    padding: 1rem;
    color: $color-white;
  }

  .heading-icon:hover {
    opacity: 0.7;
  }
}
