$color-white: #fff;
$color-primary: rgb(85, 197, 122);
$color-primary-light: rgba(47, 205, 19, 0.5);
$color-primary-medium: rgba(85, 197, 122, 0.5);
$color-primary-dark: rgba(10, 255, 84, 0.5);
$color-gray: #777;
$color-black: #000000;
$color-content-black: #000000ad;
$color-white-heading-dark: rgba(1, 2, 1, 0.5);
$color-white-heading-light: rgba(11, 217, 11, 0.5);
