@import "abstracts/variables";

@import "base/typography";
@import "base/animations";

@import "layout/header";
@import "layout/content";
@import "components/button";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box; /* box model remove box*/
}
